<app-search></app-search>
<!-- <div class="pointer row p-2 ps-5" *ngFor="let customer of Customer let i = index">
  <div class="col-4 rounded-circle border" style="height: 60px; width: 60px"></div>
  <div class="col p-2">
    <p class="m-0 fw-bold">{{customer.firstName}}</p>
    <p class="m-0">{{customer.email}}</p>
  </div> -->

<div class="pointer row p-2 ps-5 border shadow-sm">
  <div
    class="col-4 rounded-circle border"
    style="height: 60px; width: 60px"
  ></div>
  <div class="col p-2">
    <p class="m-0 fw-bold">Mathew Jones</p>
    <p class="m-0">matt@gmail.com</p>
  </div>
</div>


<div class="pointer row p-2 ps-5">
  <div
    class="col-4 rounded-circle border"
    style="height: 60px; width: 60px"
  ></div>
  <div class="col p-2">
    <p class="m-0 fw-bold">Robert Kawaski</p>
    <p class="m-0">rob@gmail.com</p>
  </div>
</div>


<div class="pointer row p-2 ps-5">
  <div
    class="col-4 rounded-circle border"
    style="height: 60px; width: 60px"
  ></div>
  <div class="col p-2">
    <p class="m-0 fw-bold">Gennie Watson</p>
    <p class="m-0">Gennie@gmail.com</p>
  </div>
</div>


<div class="pointer row p-2 ps-5">
  <div
    class="col-4 rounded-circle border"
    style="height: 60px; width: 60px"
  ></div>
  <div class="col p-2">
    <p class="m-0 fw-bold">Robert Kawaski</p>
    <p class="m-0">rob@gmail.com</p>
  </div>
</div>


