<div class="p-2 pt-4">
  <h5 class="fw-bold">Personal Details</h5>
  <div class="d-flex ">
    <div class="bg-light-custom p-3 m-3 flex-grow-1">
      <p class="m-0">FirstName</p>
      <h6 class="fw-bold">Mathew</h6>
    </div>

    <div class="bg-light-custom p-3 m-3 flex-grow-1">
      <p class="m-0">LasttName</p>
      <h6 class="fw-bold">Jones</h6>
    </div>

    <div class="bg-light-custom p-3 m-3 flex-grow-1">
      <p class="m-0">Gender</p>
      <h6 class="fw-bold">Male</h6>
    </div>

    <div class="bg-light-custom p-3 m-3 flex-grow-1">
      <p class="m-0">Date of Birth</p>
      <h6 class="fw-bold">Aug-21-1997</h6>
    </div>
  </div>

  <h5 class="fw-bold"> Address</h5>

  <div class="col-md-6 p-0">

    <div class="d-flex justify-content-between p-3">
      <p>Address-1</p>
      <p>142, Bay Area Shahpura</p>
    </div>


    <div class="d-flex justify-content-between p-3 bg-light-custom">
      <p>Landmark</p>
      <p>Chmpion School</p>
    </div>

    <div class="d-flex justify-content-between p-3">
      <p>City</p>
      <p>Bhopal</p>
    </div>

    <div class="d-flex justify-content-between p-3 bg-light-custom">
      <p>State</p>
      <p>Madhyapradesh</p>
    </div>
  </div>


</div>


