<app-nav-bar></app-nav-bar>
<div class="contailner-fluid h-100" style="background-color: #fdf2ec; height: 100vh;">
<div class="row">
  <div class="col-md-3 border  bg-white">
    <app-customer-list></app-customer-list>
  </div>
  <div class="col m-2 bg-white p-2" >
    <router-outlet>
      <app-customer-details></app-customer-details>
      <app-add-form></app-add-form>
    </router-outlet>
  </div>
</div>
</div>
