<nav class="navbar navbar-light">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand text-light" href="#">Customer Management</a>

    <div class="d-flex align-items-center text-light">
      <p class="m-0">Customer admin</p>
      <div class="border rounded-circle m-2" style="height: 30px; width: 30px;"></div>
      <p class="m-0">Name</p>
    </div>
  </div>
</nav>
