
<div class="d-flex p-2 border-bottom">
  <div class="rounded-circle border m-2" style="height: 80px ; width: 80px;">
  </div>
  <div class="p-2">
    <h6>Mathew Jones</h6>
    <div class="d-flex">
      <p class="p-2">matt22234</p>
      <p class="p-2">mat@gmail.com</p>
      <p class="p-2">matt22234</p>
    </div>
    <div class="d-flex">
      <button class="btn btn-outline-warning m-2">Edit</button>
      <button class="btn btn-outline-danger m-2">Delete Customer</button>
    </div>
  </div>
</div>

